Repository gardener/gardener-extension-os-gardenlinux, pull requests merged in 2020-11, with the labels that each got.

#19 Disable cache for Secrets
  cmd/gardener-extension-os-gardenlinux/app/app.go
  go.mod
  vendor/github.com/gardener/gardener/extensions/pkg/controller/operatingsystemconfig/oscommon/app/app.go
  vendor/modules.txt
Labels: area/cost, kind/task, needs/ok-to-test, os/garden-linux, priority/normal, reviewed/lgtm, size/s

#21 Update golang and alpine
  .github/ISSUE_TEMPLATE/flaking-test.md
  .github/pull_request_template.md
  Dockerfile
Labels: kind/task, needs/ok-to-test, os/garden-linux, priority/normal, reviewed/lgtm, size/s

#22 Switch back to upsteram images
  Dockerfile
Labels: kind/bug, needs/ok-to-test, os/garden-linux, priority/normal, reviewed/lgtm, size/xs
