Repository gardener/gardener-extension-os-gardenlinux, pull requests merged in 2023-03, with the labels that each got.

#79 Remove minAllowed.cpu for all components
  charts/gardener-extension-os-gardenlinux/templates/vpa.yaml
  charts/gardener-extension-os-gardenlinux/values.yaml
  example/controller-registration.yaml
Labels: area/os, needs/ok-to-test, needs/review, size/xs, os/garden-linux, area/auto-scaling

#84 Update to Go 1.19.7
  Dockerfile
Labels: area/os, area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, os/garden-linux

#81 Enable dependabot
  .github/dependabot.yaml
  .github/workflows/vendor_gardener.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, os/garden-linux

#82 Configure cgroup driver to systemd on cgroup v2 enabled Garden Linux nodes
  cmd/gardener-extension-os-gardenlinux/app/app.go
  pkg/generator/gardenlinux/additional_files.go
  pkg/generator/gardenlinux/cgroups.go
  pkg/generator/gardenlinux/constants.go
  pkg/generator/gardenlinux/scripts/containerd_cgroup_driver.sh
  pkg/generator/gardenlinux/scripts/g_functions.sh
  pkg/generator/gardenlinux/scripts/kubelet_cgroup_driver.sh
  pkg/generator/generator.go
  pkg/generator/generator_test.go
  pkg/generator/templates/cloud-init.gardenlinux.template
  pkg/generator/testfiles/cloud-init
  pkg/generator/testfiles/containerd-bootstrap
  pkg/generator/testfiles/containerd-reconcile
  pkg/generator/testfiles/docker-bootstrap
  pkg/generator/testfiles/docker-reconcile
Labels: area/os, kind/impediment, needs/ok-to-test, needs/review, needs/second-opinion, size/l, os/garden-linux, merge/squash

#85 fix: kubelet cgroup driver follows containerd
  pkg/generator/gardenlinux/scripts/containerd_cgroup_driver.sh
  pkg/generator/gardenlinux/scripts/g_functions.sh
  pkg/generator/gardenlinux/scripts/kubelet_cgroup_driver.sh
  pkg/generator/testfiles/containerd-reconcile
Labels: area/os, kind/bug, needs/ok-to-test, needs/review, size/s, os/garden-linux
