Repository gardener/gardener-extension-os-gardenlinux, pull requests merged in 2024-11, with the labels that each got.

#169 [WIP] Implement a Webhook to mutate the OperatingSystemConfig for cgroup drivers
  charts/gardener-extension-os-gardenlinux/templates/deployment.yaml
  charts/gardener-extension-os-gardenlinux/templates/rbac.yaml
  charts/gardener-extension-os-gardenlinux/templates/service.yaml
  charts/gardener-extension-os-gardenlinux/values.yaml
  cmd/gardener-extension-os-gardenlinux/app/app.go
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
  pkg/gardenlinux/constants.go
  pkg/gardenlinux/scripts/containerd_cgroup_driver.sh
  pkg/gardenlinux/scripts/g_functions.sh
  pkg/gardenlinux/scripts/kubelet_cgroup_driver.sh
  pkg/webhook/operatingsystemconfig/ensurer.go
  pkg/webhook/operatingsystemconfig/operatingsystemconfig_suite_test.go
  pkg/webhook/operatingsystemconfig/webhook.go
Labels: area/os, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, os/garden-linux

#214 add override.conf containerd dropin to set LimitMEMLOCK and LimitNOFILE
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: area/os, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux

#217 Use buildx to build docker images
  Makefile
Labels: area/os, kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux
