Repository gardener/gardener-extension-os-gardenlinux, pull requests merged in 2025-04, with the labels that each got.

#249 Address TODO for legacy NetworkPolicy labels
  charts/gardener-extension-os-gardenlinux/templates/service.yaml
  example/controller-registration.yaml
Labels: area/os, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux

#250 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#253 Specify RBAC rule for cluster and remove unused configmap rules
  charts/gardener-extension-os-gardenlinux/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/security, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux, os/suse-chost

#252 Chore: remove docker references from documentation
  README.md
  example/40-operatingsystemconfig-gardenlinux.yaml
  example/40-operatingsystemconfig-memoryonegardenlinux.yaml
Labels: area/os, kind/cleanup, needs/ok-to-test, needs/review, size/s, os/garden-linux

#256 Allow `patch` of the `gardener-extension-heartbeat` lease
  charts/gardener-extension-os-gardenlinux/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/os, kind/regression, needs/ok-to-test, needs/review, size/xs, os/garden-linux
