Repository gardener/gardener-extension-os-gardenlinux, pull requests merged in 2025-01, with the labels that each got.

#224 Add Roncossek as responsible for this repository in component-descriptor
  .ci/pipeline_definitions
Labels: area/os, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux

#215 remove 11-exec_config.conf & config.toml file creation
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: area/os, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux

#225 Collect SAST assets in release pipeline
  .ci/pipeline_definitions
Labels: area/os, kind/technical-debt, needs/ok-to-test, needs/review, size/xs, os/garden-linux, ci/broken-pipeline-definition

#231 Ensure that the provision OSC script runs only once
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: area/os, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux
