Repository gardener/gardener-extension-os-gardenlinux, pull requests merged in 2025-03, with the labels that each got.

#221 Remove docker from the `provision` OperatingSystemConfig
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: area/os, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux

#207 Drop support for Shoots with Kubernetes version <= 1.26
  charts/gardener-extension-os-gardenlinux/templates/poddisruptionbudget.yaml
  example/controller-registration.yaml
Labels: area/os, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux

#242 Forbid container privilege escalations for the os-gardenlinux containers
  charts/gardener-extension-os-gardenlinux/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/os, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, os/garden-linux, area/compliance

#243 Remove RBAC wildcard resources
  charts/gardener-extension-os-gardenlinux/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/os, area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, status/closed, os/garden-linux, area/compliance
